.payments-container {
  padding: 45px;
  background-color: aqua;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.payments-heading {
  margin: 0;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.payments-sub-heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.order-details-sub-heading {
  margin: 15px 0 15px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.ul-payment-container {
  margin: 0px 0px 0px 30px;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-method-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  cursor: pointer;
}

.payment-method-input {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.payment-method-label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #1f246a;
}

.disabled-label {
  color: gray;
}

.confirm-order-button {
  background-color: black;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
}

.confirm-order-button:disabled {
  opacity: 0.5;
  background-color: #636363;
}
.black {
  color: black;
}
.success-message {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
